In [9]:
import TSeriesPreproccesing as TSPP
from importlib import reload

In [68]:
reload(TSPP)

In [69]:
curSet = TSPP.StockDataSet(['aapl'],start = '2015-01-01',interval = '1d')

In [70]:
curSet.create_dataset()
display(len(curSet.dfs[0]))
display(len(curSet.df))

[*********************100%%**********************]  1 of 1 completed

2199

2199

In [75]:
curSet.create_features() 
display(curSet.dfs[0].isna().sum())
display(curSet.df.head())

open                  0
high                  0
low                   0
close                 0
volume                0
                     ..
sumPctChgclose_2-1    0
sumPctChgclose_3-1    0
sumPctChgclose_4-1    0
sumPctChgclose_5-1    0
sumPctChgclose_6-1    0
Length: 132, dtype: int64

,open,high,low,close,volume,sma5,ema5,sma10,ema10,sma20,...,opCl-1,pctChgClOp-1,pctChgClLo-1,pctChgClHi-1,sumPctChgclose_1-1,sumPctChgclose_2-1,sumPctChgclose_3-1,sumPctChgclose_4-1,sumPctChgclose_5-1,sumPctChgclose_6-1
Date,,,,,,,,,,,,,,,,,,,,,
2015-01-02,27.847500,27.860001,26.837500,27.332500,212818400,27.074,27.074,27.2395,27.2395,27.660375,...,0.073900,0.026291,-0.963854,1.070778,0.100861,0.204162,0.307217,0.409502,0.510532,0.612519
2015-01-05,27.072500,27.162500,26.352501,26.562500,257142000,27.074,27.074,27.2395,27.2395,27.660375,...,-1.849356,0.026291,-0.963854,1.070778,0.100861,0.204162,0.307217,0.409502,0.510532,0.612519
2015-01-06,26.635000,26.857500,26.157499,26.565001,263188400,27.074,27.074,27.2395,27.2395,27.660375,...,-1.883831,-0.951249,-3.585473,-0.621970,-2.817161,0.204162,0.307217,0.409502,0.510532,0.612519
2015-01-07,26.799999,27.049999,26.674999,26.937500,160423600,27.074,27.074,27.2395,27.2395,27.660375,...,-0.262811,0.272942,-1.524708,1.110589,0.009414,-2.807747,0.307217,0.409502,0.510532,0.612519
2015-01-08,27.307501,28.037500,27.174999,27.972500,237458000,27.074,27.074,27.2395,27.2395,27.660375,...,0.513063,0.884618,0.414074,1.825706,1.402219,1.411633,-1.405528,0.409502,0.510532,0.612519

In [ ]:
for col in curSet.dfs[0].columns:
    display(col)

In [76]:
curSet.df[['pctChgclose','sumPctChgclose_1','sumPctChgclose_2','sumPctChgclose_3']].head(10)

            pctChgclose  sumPctChgclose_1  sumPctChgclose_2  sumPctChgclose_3
Date
2015-01-02     0.100900          0.100900          0.203089          0.306433
2015-01-05    -2.817161         -2.817161          0.203089          0.306433
2015-01-06     0.009414          0.009414         -2.807747          0.306433
2015-01-07     1.402219          1.402219          1.411633         -1.405528
2015-01-08     3.842227          3.842227          5.244446          5.253860
2015-01-09     0.107251          0.107251          3.949477          5.351696
2015-01-12    -2.464068         -2.464068         -2.356817          1.485410
2015-01-13     0.887873          0.887873         -1.576195         -1.468944
2015-01-14    -0.381054         -0.381054          0.506819         -1.957249
2015-01-15    -2.714028         -2.714028         -3.095083         -2.207210

In [77]:
curSet.df.columns

Index(['open', 'high', 'low', 'close', 'volume', 'sma5', 'ema5', 'sma10',
       'ema10', 'sma20',
       ...
       'opCl-1', 'pctChgClOp-1', 'pctChgClLo-1', 'pctChgClHi-1',
       'sumPctChgclose_1-1', 'sumPctChgclose_2-1', 'sumPctChgclose_3-1',
       'sumPctChgclose_4-1', 'sumPctChgclose_5-1', 'sumPctChgclose_6-1'],
      dtype='object', length=132)

In [80]:
target_cols = [col for col in curSet.df.columns if 'sumPctChgclose_' in col and '-' not in col]
curSet.create_y_targets(target_cols)
display(curSet.df.columns)
display(curSet.df[['pctChgclose','pctChgclose+1','pctChgclose+2','pctChgclose+3','pctChgclose+4','pctChgclose+5']].head(10))

Index(['open', 'high', 'low', 'close', 'volume', 'sma5', 'ema5', 'sma10',
       'ema10', 'sma20',
       ...
       'opCl-1', 'pctChgClOp-1', 'pctChgClLo-1', 'pctChgClHi-1',
       'sumPctChgclose_1-1', 'sumPctChgclose_2-1', 'sumPctChgclose_3-1',
       'sumPctChgclose_4-1', 'sumPctChgclose_5-1', 'sumPctChgclose_6-1'],
      dtype='object', length=132)

KeyError: "['pctChgclose+1', 'pctChgclose+2', 'pctChgclose+3', 'pctChgclose+4', 'pctChgclose+5'] not in index"